<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespaceには対応するMapperインターフェースの完全修飾クラス名を指定 -->
<mapper namespace="com.example.demo.mapper.UserMapper">
	<!-- MapperインターフェースのfindAll関数実行時のSQL resultTypeには取得結果をマッピングするクラスを指定 -->
	<select id="doCheck" resultType="int">
		select
		count(username)
		from
		login
		where
		username = #{user}
		AND pwd = #{pwd}
	</select>
</mapper>