<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <title>Bootstrap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>

<body>
    <div class="container p-5 my-5 bg-dark text-white text-center">
    <h2>個人情報入力</h2>
    <div class="container p-5 my-5 bg-info text-white text-center">

<h6 class="display-5">
<form  th:action="@{/userinformation}" th:object="${userRequest}" method="post">
        
        <table>
        <tr>
                <th class="cell_title">ユーザー名</th>
                <th class="cell_required">※</th>
                <td><input type="text" th:field="*{user}"></td>
            </tr>
            <tr>
                <th class="cell_title">パスワード</th>
                <th class="cell_required">※</th>
                <td><input type="password" th:field="*{pwd}"></td>
            </tr>
             <tr>
                <th class="cell_title">ID</th>
                <th class="cell_required"></th>
                <td><input type="text" th:field="*{id}"></td>
            </tr>
            <tr>
                <th class="cell_title">名前</th>
                <th class="cell_required"></th>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <th class="cell_title">住所</th>
                <th class="cell_required"></th>
                <td><input type="text" th:field="*{address}"></td>
            </tr>
            <tr>
                <th class="cell_title">電話番号</th>
                <th class="cell_required"></th>
                <td><input type="text" th:field="*{phone}"></td>
            </tr>
        </table>
        <div class="btn_area_center  btn btn-danger ">
            <input type="submit"  value="登録" class="btn">
        </div>
    </form>






   <!-- <form action="/action_page.php">
  <label for="fname">ファーストネーム:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">ラストネーム:</label><br>
  <input type="text" id="lname" name="lname" value=""><br>
  <label for="lname">年齢:</label><br>
  <input type="text" id="age" name="age" value="" maxlength="2" ><br> 
  <label for="fname">電話番号:</label><br>
  <input type="text" id="PhoneNumber" name="PhoneNumber" value="" maxlength="10"  ><br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>-->

</h6>
</div>
</div>
</body>
</html>